body {
  padding: 0;
  margin: 0;
  background-color: #A2D2FF;
}

img {
  position:absolute;
  left: 50%;
  transform: translate(-50%);
  border: 0;
  background: transparent;
}

canvas {
  position: absolute;
  left: 50%;
  top: 500px;
  transform: translate(-50%, -50%);
}